<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet'>
        <meta charset="UTF-8">       
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <div class="primary_header">
        <h1 class="header">Make A Mad Lib!</h1>
    </div>
    <body>
        <h2 class="secondary_header"h2>
        <p>Hello! Welcome to Mad Libs! Today we have a couple of different modes! Multiple choice gives you four words per blank to choose from. Basic is like your classic mad libs games, we give you a list of adverbs, verbs, adjectives, nouns, etc. for you to fill out! And Story is our most interactive, it is choose your own adventure mixed with mad libs, fill out the story as you go and make choices every few paragraphs.</p>
            <div class="row">
                <p class="thumbnail_align"> <img src= "static/Smile_emoji.png" alt="" class="thumbnail" width= "300" height="300"/></p>
                <h3><a href="/basic_quiz">Basic Story</a></h3>
                    
                <p class="thumbnail_align"> <img src="static/Laugh_emoji.png" alt="" class="thumbnail" width= "300" height="300"/></p>
                <h3><a href="/multi_quiz">Multiple Choice Story</a></h3>
                    
                <p class="thumbnail_align"> <img src="static/Cry_emoji.png" alt="" class="thumbnail" width= "300" height="300"/></p>
                <h3><a href="/story_scene">Multi-level Story</a></h3>   
            </div>
            <div class="row blockDisplay"></div>
            <footer class="secondary_header footer">
            <div class="copyright"><strong>Mad Libs Maker</strong>
            </div>
    </body>
</html>