<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>Welcome to Story Mad Libs!</title>
    </head>
    <body>
        <form method="post">
            <label for="celebrity_1">Celebrity:</label>
            <br />
            <input type="text" name="celebrity_1">
            <br />
            <label for="location_1">Location:</label>
            <br />
            <input type="text" name="location_1">
            <br />
            <label for="adjective_1">Adjective:</label>
            <br />
            <input type="text" name="adjective_1">
            <br />
            <label for="noun_1">Noun:</label>
            <br />
            <input type="text" name="noun_1">
            <br />
        </form>
    </body>
</html>
