<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            body {
              font-family: 'Chango';
              font-size: 50px;
              background-color: black;
              color: white;
            }
          </style>
    </head>
   <body>
       <form method="post">
           <label for="past_verb_1">Verb in past tense:</label>
           <br />
           <input type="text" name="past_verb_1">
           <br />
           <label for="noun_1">Noun:</label>
           <br />
           <input type="text" name="noun_1">
           <br />
       </form>
   </body>
</html>