<!DOCTYPE html>
<html lang="en">
   <body>
       <form method="post">
           <label for="location_1">Location:</label>
           <br />
           <input type="text" name="location_1">
           <br />
           <label for="time_1">Time:</label>
           <br />
           <input type="text" name="time_1">
           <br />
           <label for="question_1">Question:</label>
           <br />
           <input type="text" name="question_1">
           <br />
       </form>
   </body>
</html>