<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            body {
              font-family: 'Chango';
              font-size: 50px;
              background-color: black;
              color: white;
            }
          </style>
    </head>
   <body>
       <form method="post">
           <label for="adjective_1">Adjective:</label>
           <br />
           <input type="text" name="adjective_1">
           <br />
           <label for="adjective_2">Adjective:</label>
           <br />
           <input type="text" name="adjective_2">
           <br />
           <label for="verb_1">Verb:</label>
           <br />
           <input type="text" name="verb_1">
           <br />
       </form>
   </body>
</html>