<!DOCTYPE html>
<html lang="en">
   <body>
       <form method="post">
           <label for="animal_1">Animal:</label>
           <br />
           <input type="text" name="animal_1">
           <br />
           <label for="color_1">Color:</label>
           <br />
           <input type="text" name="color_1">
           <br />
           <label for="color_2">Color:</label>
           <br />
           <input type="text" name="color_2">
           <br />
           <label for="sound_effect_plural_1">Sound Effect:</label>
           <br />
           <input type="text" name="sound_effect_plural_1">
           <br />
       </form>
   </body>
</html>